.DS_Store
.vscode
.python-version
.envrc
.venv/
Pipfile
Pipfile.lock
__pycache__/
*.py[cod]
*$py.class
*~
*.csv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
