<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Agent Experiment</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="../static/css/index.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
      function onRadioButtonChanged() {
        let ratingFlag = false;
        for( let i = 0 ; i < document.enqForm.rating.length ; i++ ) {
          if( document.enqForm.rating[i].checked ) ratingFlag = true;
        }
        if( ratingFlag != true ) {
          document.enqForm.submitButton.disabled = true;
        } else {
          document.enqForm.submitButton.disabled = false;
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
      <form action="/procEnq1" method="post" name="enqForm">
        <h2 class ="display-4">アンケート</h1>
        <hr class ="my-4">
        <h3>提示された映画に対する鑑賞意欲</h3>
        <p>
          広告を観た結果，映画をどれほど観たいと思いますか？
        </p>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-2">
            <input name="rating" type="radio" onchange="onRadioButtonChanged()" value="1" />
            1.全然観たくない
          </div>
          <div class="col-2">
            <input name="rating" type="radio" onchange="onRadioButtonChanged()" value="2" />
            2.あまり観たくない
          </div>
          <div class="col-2">
            <input name="rating" type="radio" onchange="onRadioButtonChanged()" value="3" />
            3.どちらでもない
          </div>
          <div class="col-2">
            <input name="rating" type="radio" onchange="onRadioButtonChanged()" value="4" />
            4.少し観たい
          </div>
          <div class="col-2">
            <input name="rating" type="radio" onchange="onRadioButtonChanged()" value="5" />
            5.とても観たい
          </div>
          <div class="col-1"></div>
        </div>
        <hr class ="my-4">
      </br>
      <button id="submitButton" type="submit" class="btn btn-primary btn-block" 
      onclick="location.href='/agent'" disabled>Submit</button>
      </form>
    </div>
  </body>
</html>
