<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Agent Experiment</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="../static/css/index.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
      function onRadioButtonChanged() {
        let ratingFlag = false, creditFlag = false, satisfyFlag = false;
        for( let i = 0 ; i < document.enqForm.rating.length ; i++ ) {
          if( document.enqForm.rating[i].checked ) ratingFlag = true;
        }
        for( let i = 0 ; i < document.enqForm.credit.length ; i++ ) {
          if( document.enqForm.credit[i].checked ) creditFlag = true;
        }
        for( let i = 0 ; i < document.enqForm.satisfy.length ; i++ ) {
          if( document.enqForm.satisfy[i].checked ) satisfyFlag = true;
        }
        if( ratingFlag != true || creditFlag != true || satisfyFlag != true ){
          document.enqForm.submitButton.disabled = true;
        } else {
          document.enqForm.submitButton.disabled = false;
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
      <form action="/procEnq" method="post" name="enqForm">
        <h2 class ="display-4">アンケート</h1>
        <hr class ="my-4"> 
        <h3>提示された映画に対する鑑賞意欲</h3>
        <input name="rating" type="radio" onchange="onRadioButtonChanged()" value="1" /> 1.全然観たくない
        <input name="rating" type="radio" onchange="onRadioButtonChanged()" value="2" /> 2.あまり観たくない
        <input name="rating" type="radio" onchange="onRadioButtonChanged()" value="3" /> 3.どちらでもない
        <input name="rating" type="radio" onchange="onRadioButtonChanged()" value="4" /> 4.少し観たい
        <input name="rating" type="radio" onchange="onRadioButtonChanged()" value="5" /> 5.とても観たい
        <hr class ="my-4"> 
        <h3>エージェントの信頼度</h3>
        <input name="credit" type="radio" onchange="onRadioButtonChanged()" value="1" /> 1.全然信用できない
        <input name="credit" type="radio" onchange="onRadioButtonChanged()" value="2" /> 2.あまり信用できない
        <input name="credit" type="radio" onchange="onRadioButtonChanged()" value="3" /> 3.どちらでもない
        <input name="credit" type="radio" onchange="onRadioButtonChanged()" value="4" /> 4.少し信用できる
        <input name="credit" type="radio" onchange="onRadioButtonChanged()" value="5" /> 5.とても信用できる
        <hr class ="my-4"> 
        <h3>全体的なシステムの満足度</h3>
        <input name="satisfy" type="radio" onchange="onRadioButtonChanged()" value="1" /> 1.全然役に立たない
        <input name="satisfy" type="radio" onchange="onRadioButtonChanged()" value="2" /> 2.あまり役に立たない
        <input name="satisfy" type="radio" onchange="onRadioButtonChanged()" value="3" /> 3.どちらでもない
        <input name="satisfy" type="radio" onchange="onRadioButtonChanged()" value="4" /> 4.少し役にたつ
        <input name="satisfy" type="radio" onchange="onRadioButtonChanged()" value="5" /> 5.とても役にたつ
        <hr class ="my-4"> 
      </br>
      <button id="submitButton" type="submit" class="btn btn-primary btn-block" disabled>Submit</button>
      </form>
    </div>
  </body>
</html>
