<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Agent Experiment</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="../static/css/index.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class ="jambotron">
      <h1 class ="display-4">実験へのご協力ありがとうございます。</h1>
      <p class ="lead">この実験では、エージェントによる映画オススメシステムの評価・検証を行います。<br>
        エージェントによる会話を読んで、アンケートに答えてください。（所要時間:5分）<br>
      <hr class ="my-4"> 
        <p>実験説明<br>
          1.実験画面では、映画の内容とエージェントによる会話の様子が表示されます。<br>
          2.映画の内容とエージェントの会話を読んでください。(30秒したら画面が自動で切り替わります。)<br>
          3.ページが切り替り、アンケートが表示されます。3つのアンケートに答えてください。<br>
        これを4回繰り返していただきますので、よろしくお願いいたします。<br></p>
      </h3>
    </div>
      <form action="/login" method="post">
        <!-- Name入力 -->
        <div class="form-group">
          <label for="user_id">ID（学番など）</label>
          <input type="name" class="form-control" placeholder="ID" name="user_id" />
          <label>※IDはアンケートの回答が同一人物によるものであることを確認するためだけに利用され，
            保存されることも，再利用されることもありません。</label>
        </div>
        <div class="form-group">
          <label for="gender"><b>性別</b></label><br/>
          <label>該当するものを選んでください。</label>
          <select class="form-control" id="gender" name="gender">
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <div class="form-group">
          <label for="age"><b>年齢</b></label><br/>
          <label>該当するものを選んでください。</label>
          <select class="form-control" id="age" name="age">
            <option>10代</option>
            <option>20代</option>
            <option>30代</option>
            <option>40代</option>
            <option>50代</option>
          </select>
        </div>
        <!-- 送信ボタン -->
      </br>
      <button type="submit" class="btn btn-primary btn-block">Next</button>
      </form>
    </div>
  </body>
</html>
