<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Agent Experiment</title>

    <link href="../static/css/index.css" rel="stylesheet" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
      function time_out() {
        location.href = "/enq1"
      }
      window.onload = function() {
        setTimeout(time_out, {{ wait_time }} * 1000)
      }
    </script>
  </head>
  <body>
    <p></p>
    <div class="container">
      <p>
        まず{{ wait_time }}秒間映画の広告を見てください。
        {{ wait_time }}秒後にアンケート画面に遷移します。
      </p>
      <div class="row">
        <div id="movie_ad">
          <img src="../static/img/{{ img_movie }}" />
        </div>
      </div>
    </div>
  </body>
</html>
